header {
  position: flex;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1196) {
 }
 
 body {
   display: flex;
 }
 #nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
    border: 1px solid #78534957;
  background-color: gray;
  opacity: 1;
}
